/.ipynb_checkpoints
/desktop.ini
/HelloWorld.ipynb
/Module 2 - Google Assignment.pdf
/music-recommender.joblib
/music.csv
/music_project.ipynb
/Norton Installation Files.lnk
/Resume.doc
/Slack.lnk
/vgsales.csv
/Visual Studio Code.lnk